<div id="wrap">
  <div id="header-region"></div>
  <div id="main-region" class="container"></div>
  <div id="push"></div>
</div>
<div id="footer-region"></div>

<%= javascript_tag do %>
  $(function() {
    _.templateSettings = {
      interpolate : /\{\{=(.+?)\}\}/g,
      escape : /\{\{-(.+?)\}\}/g,
      evaluate: /\{\{(.+?)\}\}/g,
    };
    Demo.start();

  });
<% end %>

<script id="headers-template" type="text/html">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="pull-left">
          <span class="brand">BackboneRails Demo</span>
        </div>
        <ul class="nav navbar-nav pull-right"></ul>
      </div>
    </div>
  </div>
</script>

<script id="header-template" type="text/html">
  <a href='#{{= name }}'>{{= name }}</a>
</script>

<script id="footer-show-template" type="text/html">
  <div class="container">
    <p>footer content</p>
  </div>
</script>

<script id="list-layout-template" type="text/html">
  <div id="panel-region"></div>
  <div id="users-region"></div>
</script>

<script id="list-panel-template" type="text/html">
  Total Users: {{= items.length }}
</script>

<script id="list-user-template" type="text/html">
  <td>{{= full_name }}</td>
  <td>{{= created_at }}</td>
</script>

<script id="list-users-template" type="text/html">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</script>

<script id="list-leads-template" type="text/html">
  leads
</script>