<div id="wrap">
  <div id="header-region"></div>
  <div id="main-region" class="container"></div>
  <div id="push"></div>
</div>
<div id="footer-region"></div>

<%= javascript_tag do %>
  $(function() {
    _.templateSettings = {
      interpolate : /\{\{=(.+?)\}\}/g,
      escape : /\{\{-(.+?)\}\}/g,
      evaluate: /\{\{(.+?)\}\}/g,
    };
    APP.start();

  });
<% end %>

<script id="headers-template" type="text/html">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="pull-left">
          <span class="brand">Portfolio</span>
        </div>
        <ul class="nav navbar-nav pull-right"></ul>
      </div>
    </div>
  </div>
</script>

<script id="header-template" type="text/html">
  <a href='#{{= name }}'>{{= name }}</a>
</script>

<script id="footer-show-template" type="text/html">
  <div class="container">
    <p>footer content</p>
  </div>
</script>

<script id="show-projects-layout-template" type="text/html">
  <div id="panel-region"></div>
  <div id="projects-region"></div>
</script>

<script id="show-panel-template" type="text/html">
  Total Users: {{= items.length }}
</script>

<script id="show-project-template" type="text/html">
  <a href="#projects/{{= id }}">{{= name }} - {{= brand }}</a>
</script>

<script id="show-project-detail-template" type="text/html">
  <a href="#projects">Back to projects</a>
  <h2>{{= name }}</h2>
  <h3>{{= brand }}</h3>
</script>

<script id="show-projects-template" type="text/html">
  <div class="projects"></div>
</script>

<script id="list-about-template" type="text/html">
  about
</script>

<script id="list-contact-template" type="text/html">
  contact
</script>